<html>
  <head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
      <%=name%>
      <img src="<%=image%>" alt="">
    </div>
  </body>
</html>